<div id="player">
    <div id="player-container">
        <div id="player-play-button">
            <i class="fa-solid fa-play"></i>
        </div>
        <div id="player-artist-name">Artist name</a></div>
        <div id="player-song-name">Song name</a></div>
        <audio id="player-audio" src="https://listen.moe/fallback" type="audio/mpeg" nocontrols></audio>
        <a href="https://listen.moe"><img id="player-logo" src="https://listen.moe/_nuxt/img/logo-square-64.248c1f3.png"></a>
    </div>
    <script src="/assets/js/player.js"></script>
</div>