#title {
    font-size: 1.75rem;
    font-weight: bold;
}

#bg-music {
    text-align: center;
    background-image: url('/assets/images/Aquatope_S1_E4_4.png');
    background-size: cover;
    padding: 15% 10px;
    width: 80%;
    margin:auto;
    border-radius: 10px;
}

#bg-music-frame audio {
    max-width: 80%;
    max-height: 50px;
    object-fit: contain;
    margin: auto;
}

#bg-music-controller {
    padding: 10px 5px;
    max-width: 80%;
    object-fit: contain;
    margin:auto;
}

#bg-music-controller * {
    font-size: small;
    line-height: 1rem;
}

#bg-music-controller-spacing {
    margin: auto 5px;
    font-weight: bolder;
}