$footer-height: calc(.2in + 2.5rem);

html {
    font-family: "Merriweather", serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

html, button {
    background-color: rgb(31, 31, 31);
    color: white;
}

body {
    min-width: 400px;
    max-width: 700px;
    box-sizing: border-box;
    margin: 0px auto;
    padding: .2in 0px $footer-height 0px;
    position: relative;
    min-height: 100vh;
}

main {
    box-sizing: border-box;
    padding: 0px 10px;
}

footer {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: .2in;
    font-size: 0.8rem;
    line-height: 1rem;
}

footer * {
    text-align: center;
    margin: 0px;
}

h1 {
    line-height: 2.5rem;
}

h2 {
    line-height: 2rem;
}

a {
    color: #5a96e0;
    text-decoration: none;
}

a:hover {
    font-weight:bold;
}

li {
    margin: 5px;
}

#title {
    margin-top: 0px;
}

#separator {
    margin: 0px 0px 1rem 0;
}

/* Syntax highlighting for code */

code {
    font-family: 'Consolas', monospace;
}
.highlight pre {
    border: 1px solid white;
    border-radius: 3px;
    padding: 1px 5px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* code to keep youtube video aspect ratio. 
modified from https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css/ */ 

.youtube-video-wrapper {
    margin: auto;
    overflow: auto;
    max-width: 100%;
    position:relative;
    padding-bottom:56.25%

}

.youtube-video {
    position:absolute;
    width:100%;
    height:100%;
}