:root {
    --artist-scroll: 0px;
    --artist-scroll-time: 0s;
    --song-scroll: 0px;
    --song-scroll-time: 0s
}

#player {
    box-sizing: border-box;
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    background-color: #1d1f2bf0;
    box-shadow: 0px 0px 10px black;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
}

#player:hover {
    width: 370px;
}

#player-container {
    position: relative;
    width:100%;
    height:100%;
}

#player-play-button {
    position: absolute;
    top: 9px;
    left: 19px;
    color: white;
    font-size: 1.2rem;
}

#player-artist-name-container {
    position: absolute;
    overflow: hidden;
    top: 2px;
    left: 51px;
    width: 150px;
    color: #ff015b;
    font-size: 0.8rem;
}

#player-song-name-container {
    position: absolute;
    overflow: hidden;
    top: 20px;
    left: 51px;
    width: 150px;
    color: white;
    font-size: 1rem;
}

#player-artist-name:hover {
    animation: scrollArtist var(--artist-scroll-time) linear 0s 1 forwards;
}

#player-song-name:hover {
    animation: scrollSong var(--song-scroll-time) linear 0s 1 forwards;
}

@keyframes scrollArtist {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX( var(--artist-scroll));
    }
}

@keyframes scrollSong {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX( var(--song-scroll));
    }
}

#player-volume {
    position: absolute;
    top: 10px;
    left: 240px;
    width: 65px;
    height: 30px;
}

#player-volume::before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #ff015b;
    border-radius: 2px;
    left: -20px;
    top: 1px;
    width: 0px;
    height: 30px;
    content: "";
}

#player-volume-slider {
    position: absolute;
    width:100%;
    top: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

@-moz-document url-prefix() {
    #player-volume-slider {
        top: 5px;
    }
}

#player-volume-slider::-webkit-slider-runnable-track {
    height: 5px;
    background: white;
    border-radius: 2px;
}

#player-volume-slider::-moz-range-track {
    height: 5px;
    background: white;
    border-radius: 2px;
}

#player-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff015b;
    border-radius: 7.5px;
    margin-top: -4.5px;
    height: 15px;
    width: 5px;
}

#player-volume-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff015b;
    border: none;
    border-radius: 7.5px;
    margin-top: -4.5px;
    height: 15px;
    width: 5px;
}

#player-logo {
    position: absolute;
    top: 10px;
    left: 327px;
    width: 30px;
    height: 30px;
}