.point {
    color:burlywood;
    font-weight: bold;
}

/* Code for the popup footnotes. */

.note-wrapper {
    position: relative;
}

.note-wrapper::before {
    content: "*";
    color:#5a96e0;
}

.note-wrapper:hover::before {
    background-color: #444444;
}

.note {
    display: none;
    position: absolute;
    bottom: calc(100% - 1.5em);
    padding: 5px;
    width: 300px;

    font-size:.8rem;
    line-height: 1.2rem;
    border: 1px solid white;
    background-color: #444444;
    color:white;
}

.note-wrapper:hover .note {
    display: inline;
}
