#title {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: .5em;
}

#date {
    font-size: 1rem;
    font-style: italic;
}

.point {
    color:burlywood;
    font-weight: bold;
}

/* code to keep youtube video aspect ratio modified from 
https://stackoverflow.com/questions/1495407/maintain-the-aspect-ratio-of-a-div-with-css/ */ 

.youtube-video-wrapper {
    margin: auto;
    overflow: auto;
    max-width: 100%;
    position:relative;
    padding-bottom:56.25%

}

.youtube-video {
    position:absolute;
    width:100%;
    height:100%;
}

/* Code for the popup footnotes. */

.note-wrapper {
    position: relative;
}

.note-wrapper::before {
    content: "*";
    color:#5a96e0;
}

.note-wrapper:hover::before {
    background-color: #444444;
}

.note {
    display: none;
    position: absolute;
    bottom: calc(100% - 1.5em);
    padding: 5px;
    width: 300px;

    font-size:.8rem;
    line-height: 1.2rem;
    border: 1px solid white;
    background-color: #444444;
    color:white;
}

.note-wrapper:hover .note {
    display: inline;
}
